In [1]:
import sys
import os
sys.path.append(os.getcwd())

from common.push_notification import pushbullet_notif, telegram_notif
from common.Stock import Stock
import common.constants as constants
from datetime import datetime
import time
import multitasking 
from multiprocessing.pool import ThreadPool
import yfinance as yf
import pandas as pd
import pandas_ta as ta
import numpy as np

stock = {
    "ABB": {
            "instrument_token": 3329,
            "tradingsymbol": "ABB",
            "name": "ABB INDIA",
            "instrument_type": "EQ"
      },
}

In [2]:
ticket = Stock(stock["ABB"]["name"], stock["ABB"]["tradingsymbol"])
ticket.get_stock_price_data('5d','5m')

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

Price,Close,High,Low,Open,Volume
Ticker,ABB.NS,ABB.NS,ABB.NS,ABB.NS,ABB.NS
Datetime,,,,,
2025-03-03 03:45:00+00:00,5039.200195,5043.450195,4990.950195,5005.950195,0
2025-03-03 03:50:00+00:00,4997.200195,5039.350098,4993.549805,5037.299805,9574
2025-03-03 03:55:00+00:00,4972.200195,4997.200195,4970.000000,4995.000000,10061
2025-03-03 04:00:00+00:00,4955.399902,4977.899902,4950.000000,4972.750000,8393
2025-03-03 04:05:00+00:00,4977.000000,4987.850098,4954.000000,4954.000000,7035
...,...,...,...,...,...
2025-03-07 09:35:00+00:00,5320.799805,5322.500000,5315.000000,5319.600098,10105
2025-03-07 09:40:00+00:00,5322.799805,5324.600098,5318.500000,5324.350098,8235
2025-03-07 09:45:00+00:00,5324.899902,5324.899902,5320.000000,5322.600098,13179
2025-03-07 09:50:00+00:00,5344.399902,5344.399902,5313.899902,5324.799805,22793
2025-03-07 09:55:00+00:00,5326.549805,5352.899902,5326.549805,5345.000000,17072

In [3]:
ticket.compute_rsi()

Datetime
2025-03-03 03:45:00+00:00          NaN
2025-03-03 03:50:00+00:00          NaN
2025-03-03 03:55:00+00:00          NaN
2025-03-03 04:00:00+00:00          NaN
2025-03-03 04:05:00+00:00          NaN
                               ...
2025-03-07 09:35:00+00:00    51.321049
2025-03-07 09:40:00+00:00    52.458631
2025-03-07 09:45:00+00:00    53.682627
2025-03-07 09:50:00+00:00    63.165547
2025-03-07 09:55:00+00:00    52.557742
Name: rsi, Length: 375, dtype: float64

In [ ]:

def compute_rsi_2(df):
    change = df['Close'].diff()
    up_series = change.mask(change < 0, 0.0)
    down_series = -change.mask(change > 0, -0.0)

    #@numba.jit
    def rma(x, n):
        """Running moving average"""
        a = np.full_like(x, np.nan)
        a[n] = x[1:n+1].mean()
        for i in range(n+1, len(x)):
            a[i] = (a[i-1] * (n - 1) + x[i]) / n
        return a

    avg_gain = rma(up_series.to_numpy(), 14)
    avg_loss = rma(down_series.to_numpy(), 14)

    rs = avg_gain / avg_loss
    df['rsi'] = 100 - (100 / (1 + rs))
    return df

In [ ]:
import datetime

now = datetime.datetime.now()
new_time = now.replace(hour=19, minute=0, second=0, microsecond=0)
time_to_sleep = now.replace(hour=16, minute=0, second=0, microsecond=0)
print(now)

2025-03-08 18:31:08.154594